@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0;
  padding: 0;
  font-family: Exo, sans-serif;
}

body{
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    #00d4ff80 100%
  );
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: #000000;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3)
}
html {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: #ffffff;
}


body h2 {
  display: flex;
  justify-content: center;
  color: #000000;
}

.Home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}

.PaletaLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .PaletaLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .PaletaLista {
    grid-template-columns: 1fr;
  }
}

.PaletaCardItem,
.PaletaListaItem {
  position: relative;
  font-family: 'Exo';
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 315px;
 
}

.PaletaCardItem {
  margin: 20px 0;
  height: 150px;
  width: 100%;
}

@media (max-width: 400px) {
  .PaletaCardItem,
  .PaletaListaItem {
    width: 210px;
    height: 180px;
  }
}

.PaletaCardItem > div,
.PaletaListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.PaletaCardItem__sabor,
.PaletaListaItem__sabor {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.PaletaCardItem__descricao,
.PaletaListaItem__descricao {
  font-size: 0.85em;
}

.PaletaCardItem__preco,
.PaletaListaItem__preco {
  color: #9400d3;
}

.PaletaListaItem__foto {
  max-width: 100px;
  max-height: 150px;
}

div#paletaEscolhida{
  justify-content: center;
  display: flex;
  align-items: center;
}

div#paletaEscolhida .PaletaCardItem{
  font-family: 'Exo';
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  height: 200px;
  /* max-height: 20%;
  max-width: 80%; */
}


.paleta-escolhida-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#idPaleta {
  padding: 0.5rem;
  width: 315px;
  border: none;
  border-radius: 0.2rem;
}

.default-button {
  background-color: transparent;
  border: 2px solid #9400d3;
  padding: 0.4rem;
  color: #9400d3;
  font-weight: 600;
  border-radius: 0.2rem;
  width: 180px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.default-button:hover {
  background-color: #9400d3;
  color: #ffffff;
}

#paleta-escolhida-input-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff4d;
  width: 340px;
  height: 45px;
}

.Logo__titulo {
  position: absolute;
  left: 55px;
  font-weight: 700;
  font-size: 2.5rem;
}

.Logo__icone {
  position: absolute;
  left: -20px;
  top: -15px;
}

.Sacola {
  position: relative;
}

.Sacola__icone {
  cursor: pointer;
}

.Sacola__badge {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: white;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

  .Logo__titulo {
    font-size: 1.5em;
  }
}

.modal-overlay{
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  border-radius: .8rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    #00d4ff80 100%
  );
  padding: 1rem;
  
}

.close-modal{
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.close-modal:hover{
  transform: scale(1);
}

.modal-body{
  padding: .5rem 1rem;
}

.modal-body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body div input, textarea{
  width: 100%;
  padding: .5rem;
  font-size: .8rem;
  outline: none;
  border: solid 1px #ccc;
  margin-bottom: .4rem;
  border-radius: .3rem;
}

.modal-body div button {
  padding: .5rem;
  width: 30%;
  font-size: 1rem;
  background-color: transparent;
  color: #0097ce;
  border: solid 1px #0097ce;
  border-radius: .3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-body div button:hover{
  background-color: #0097ce;
  color: #fff;
}

.button-modal-create{
  display: flex;
  justify-content: flex-end;
  margin: 0 auto 25px auto;
  max-width: 1110px;
}

.PaletaListaItem__buttons{
  width:95%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.primeira-janela {
  font-family: 'Exo';
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  /* margin-top: 5px;
  margin-left: 5px;
  height: 90%;
  width: 90%; */
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.janela-fora {
  /* margin-top: 5px;
  margin-left: 5px; */
  height: 100%;
  width: 100%;
  z-index: 1;
  clip-path: inset(0);
}

.btn-up{
  position: absolute;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  height: 29%;
  width: 100%;
  transition: all 0.5s ease-out;
}

.janela-fora:hover .btn-up{
  top: 71%;
}

.btn-EA{
  background-color: transparent;
  border: 2px solid #9400d3;
  padding: 0.1rem;
  color: #9400d3;
  font-weight: 600;
  border-radius: 0.2rem;
  width: 40%;
  margin-top: 2%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-EA:hover {
  background-color: #9400d3;
  color: #ffffff;
}

.Acoes{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.btn{
  border: none;
  border-radius: .3rem;
  padding: .5rem;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
  
  transition: all 0.3s ease-in-out;
}

.Acoes__editar{
  color:#003cff;
  border: solid 1px #003cff;
  background-color: transparent;
}

.Acoes__editar:hover{
  color:#fff;
  background-color: #003cff;
}

.Acoes__apagar{
  color:#ff0000;
  border: solid 1px #ff0000;
  background-color: transparent;
}

.Acoes__apagar:hover{
  color:#fff;
  background-color: #ff0000;
}

.modal-body-delete{
  display: flex;
  flex-wrap: wrap;
}
.modal-body-delete p{
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.btns_delete{
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}

.btn_delete{
  background-color: transparent;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: .5rem;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn_delete_no{
  color: #ff0000;
  border: solid 1px #ff0000;
}

.btn_delete_no:hover{
  background-color: #ff0000;
  color: #fff;
}

.btn_delete_yes{
  color: #00b309;
  border: solid 1px #00b309;
}

.btn_delete_yes:hover{
  background-color: #00b309;
  color: #fff;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 25px auto;
  max-width: 1110px;
}

.msg-alert {
  text-align: center;
  z-index: 999999;
  font-weight: 600;
}

.success {
  background-color: #a4ffa4;
  color: #006905;
  border: solid 1px #006905;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.danger {
  background-color: #ffa4a4;
  color: #690000;
  border: solid 1px #690000;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.btns-list-cad {
  display: flex;
}

.list-all {
  text-decoration: none;
  text-align: center;
  display: none;
  margin-right: 1rem;
}

#search-input {
  padding: 0.5rem;
  width: 315px;
  border: none;
  border-radius: 0.2rem;
  border: 2px solid #fff;
  outline: none;
  font-size: 1rem;
}

.search-button {
  background-color: transparent;
  border: 2px solid #9400d3;
  padding: 0.5rem;
  color: #9400d3;
  font-weight: 600;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  text-align: center;
}
.search-button:hover {
  background-color: #9400d3;
  color: #ffffff;
}